$colors: (primary: #000000,
  accent1: #e03a3a,
  accent2: #323539,
  textColor: #f1ecec,
  linkHover: #fffdfdf3,
  linkHover2: #ff3232,
  filler: #444444);
 

$text-shadow: 3px 3px 5px rgb(29, 29, 29);


@function color($color-name) {
  @return map-get($colors, $color-name)
};

.underline {
  align-self: center;
  border-bottom: 2px solid color(accent1);
  width: 30%;
  margin-bottom: 3rem;
}


h4 {
    font-family: 'Quicksand';
    margin-top: 0.2rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: $text-shadow;
 }

span {
      font-size: 1em;
      color: color(accent1);
      text-transform: uppercase;
     
}


  

