@media screen and (max-width: 768px) {
  * {
    font-size: 13px;
  }

  html,
  body {
    overflow-x: hidden;
  }

  nav {
    .burger {
      display: block !important;
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
      background-color: color(accent1);
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
      background-color: color(accent1);
    }

    .nav-links {
      padding: 3rem 0;
      position: absolute;
      right: 0px;
      height: 91vh;
      top: 9vh;
      background-color: #323539a9;
      // background-color: red;
      flex-direction: column;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      #contactLink {
        a {
          color: color(textColor) !important;
          background-color: color(accent1);
          border: 2px solid color(accent1) !important;
        }
      }

      li {
        opacity: 0;
      }
    }
  }

  .nav-active {
    transform: translateX(0%) !important;
  }

  .about-img1 {
    display: none;
  }

  .about-img2 {
    display: none;
  }

  .about-img2 {
    display: none;
  }

  .jumbotron {
    .container {
      .display-3 {
        width: 80%;
        font-size: 3rem;
        text-align: center;
        padding: 0;
        align-self: center;
      }
      .display-4 {
        padding: 0;
        align-self: center;
        font-size: 2.5rem;
      }
    }
  }

  .display-4 {
    font-size: 2.5rem;
  }

  .about {
    .about-text {
      width: 100% !important;
    }
  }

  .btn {
    background-color: color(accent1);
    border: 2px solid color(accent1);

    span {
      color: color(textColor);
    }
  }

  #footer {
    .container-fluid {
      height: 91vh;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      .map {
        max-height: 45.5vh;
      }

      .foot {
        max-height: 45.5vh;
        .logo {
          padding-top: 1rem;
        }
      }
    }
  }
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
