@import "./config";



* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
}

;


body {
  font-family: 'Montserrat', sans-serif;
  background-color: color(accent2);
  color: color(textColor);
}

nav {
  // background: linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #131313, #303030);
  top: 0;
  position: sticky;
  box-shadow: 3px 3px 20px 0px rgba(10, 10, 10, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9vh;


  .brand {
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 2px color(accent1) solid;
    margin: 1em 0;

    a {
      text-decoration: none;

    }


    h4 {
      font-family: 'Space Mono';
      letter-spacing: 1.5px;
      padding: 0.2rem 0.3rem;
      font-size: 2.2rem;
      font-weight: bolder;
      color: color(accent1);
      margin-bottom: 0;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    margin-bottom: 0;
    list-style: none;

    li:hover {
      transition: all 0.3s ease-in-out;
      transform: scale(1.1);
    }


    a {
      font-family: 'Space Mono';
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 2px;
      color: color(textColor);
      text-decoration: none;
     



      &:hover {
        color: color(linkHover);
        text-shadow: $text-shadow;
      }

    }

    #contactLink {
      a {
        font-weight: bolder;
        font-size: 1.2rem;
        color: color(linkHover2);
        border-radius: 20px;
        padding: 0.4rem 0.6rem;
        border: 2px solid transparent;
        transition: all 0.5s ease-in-out;

        &:hover {
          background-color: color(linkHover2);
          padding: 0.4rem 0.6rem;
          border-radius: 25px;
          border: 2px solid color(linkHover2);
          color: color(linkHover);
          box-shadow: 10px 12px 16px -7px rgba(0,0,0,0.68);
        }
      }
    }
  }
}



header {
  height: 91vh;
  overflow: hidden;





  .jumbotron {
    height: 92vh;
    background: url(./images/heropic.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;


    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      min-width: 100%;
      background-color: rgba(#000000, $alpha: 0.55);
      text-shadow: $text-shadow;

      span {
        font-family: 'Space Mono';
        font-size: 1em;
        color: color(accent1);
        text-transform: uppercase;
      }


      h1 {
        width: 60%;
        padding-left: 30px;
        align-self: flex-start;
        font-family: 'Righteous', ;


      }


      p {
        align-self: flex-start;
        text-align: center;
        padding-left: 30px;


      }


      a {
        text-decoration: none;

        i {
          color: color(textColor);
          font-size: 3.5rem;

          &:hover {
            color: color(accent1);
            transform: scale(1.5);
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

.filler {
  background: linear-gradient(to right, #131313, #303030,#131313);
  color: color(textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  margin: 0;
  box-shadow: 3px 3px 20px 0px rgba(10, 10, 10, 0.3);
  text-shadow: 5px 5px 6px rgb(0,0,0);
 

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p{
    font-style: italic;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    } 

    .blockquote-footer {
    color: #f1ececa8;
    font-size: 1.5rem;
    }
  }
}


#section1 {
  padding-top: 9vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)), url(./images/section1bg.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 91vh;

  .container {
    
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-family: 'Space Mono';
      margin-top: 0.2rem;
      font-size: 3rem;
      text-align: center;
      text-shadow: $text-shadow;

      span {
        font-size: 1em;
        color: color(accent1);
        text-transform: uppercase;
       
      }


    }

    .underline {
      align-self: center;
      border-bottom: 2px solid color(accent1);
      width: 30%;
      margin-bottom: 3rem;
    }

    .about {
      display: flex;
      margin: 1.5rem 0;
      box-shadow: 10px 12px 16px -7px rgba(0,0,0,0.68);


      .about-text {
        text-shadow: 3px 3px 5px rgb(48, 47, 47);
        background-color: rgba(180, 168, 168, 0.466);
        padding: 0 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
          letter-spacing: 2px;
          font-weight: bolder;
          color: color(accent1);
          font-family: 'Roboto';
          border-bottom:thin double;
        }

        p {
          text-align: center;
          font-weight: 400;
        }

        .btn {
          font-weight: bolder;
          font-size: 1.2rem;
          color: color(linkHover2);
          border-radius: 25px;
          padding: 0.4rem 0.6rem;
          border: 2px solid color(accent1);
          transition: all 0.5s ease-in-out;

          span {
            margin: 0 3px;
            display: inline-block;
          }
        
  

          &:hover {
            background-color: color(linkHover2);
            padding: 0.4rem 0.6rem;
            border-radius: 25px;
            border: 2px solid color(linkHover2);
            color: color(linkHover);
            box-shadow: 10px 12px 16px -7px rgba(0,0,0,0.68);
          }
        }
         
      }


      img {
        height: 100%;
        width: 50%;
      }

    }

  }
}