.underline {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 2px solid #e03a3a;
  width: 30%;
  margin-bottom: 3rem;
}

h4, #pricing .container h4 {
  font-family: 'Quicksand';
  margin-top: 0.2rem;
  font-size: 3rem;
  text-align: center;
  text-shadow: 3px 3px 5px #1d1d1d;
}

span {
  font-size: 1em;
  color: #e03a3a;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  * {
    font-size: 13px;
  }
  .about-img1 {
    display: none;
  }
  .about-img2 {
    display: none;
  }
  .about-img2 {
    display: none;
  }
  .about .about-text {
    width: 100% !important;
  }
  .btn {
    background-color: #e03a3a;
    border: 2px solid #e03a3a;
  }
  .btn span {
    color: #f1ecec;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #323539;
  color: #f1ecec;
}

nav {
  background: -webkit-gradient(linear, right top, left top, from(#131313), to(#303030));
  background: linear-gradient(to left, #131313, #303030);
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(10, 10, 10, 0.3);
          box-shadow: 3px 3px 20px 0px rgba(10, 10, 10, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9vh;
  z-index: 2;
}

nav .brand {
  max-height: 9vh;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 2px #e03a3a solid;
  margin: 20px 0;
  position: relative;
}

nav .brand a {
  text-decoration: none;
}

nav .brand h4, nav .brand #pricing .container h4, #pricing .container nav .brand h4 {
  font-family: 'Quicksand';
  letter-spacing: 1.5px;
  padding: 0.2rem 0.3rem;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #e03a3a;
  margin-bottom: 0;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  list-style: none;
}

nav .nav-links li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav .nav-links a {
  font-family: 'Quicksand';
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f1ecec;
  text-decoration: none;
}

nav .nav-links a:hover {
  color: #fffdfdf3;
  text-shadow: 3px 3px 5px #1d1d1d;
}

nav .nav-links #contactLink a {
  font-weight: bolder;
  font-size: 1.2rem;
  color: #ff3232;
  border-radius: 20px;
  padding: 0.4rem 0.6rem;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .nav-links #contactLink a:hover {
  background-color: #ff3232;
  padding: 0.4rem 0.6rem;
  border-radius: 25px;
  border: 2px solid #ff3232;
  color: #fffdfdf3;
  -webkit-box-shadow: 10px 12px 16px -7px rgba(0, 0, 0, 0.68);
          box-shadow: 10px 12px 16px -7px rgba(0, 0, 0, 0.68);
}

header {
  min-height: 100vh;
  overflow: hidden;
}

header .jumbotron {
  margin-bottom: 0;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(./images/heropic.png) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/heropic.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
}

header .jumbotron .container {
  padding-top: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 3px 3px 5px #1d1d1d;
}

header .jumbotron .container span {
  font-family: 'Quicksand';
  font-size: 1em;
  color: #e03a3a;
  text-transform: uppercase;
}

header .jumbotron .container h1 {
  width: 60%;
  padding-left: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Righteous";
}

header .jumbotron .container p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  padding-left: 30px;
}

header .jumbotron .container a {
  text-decoration: none;
}

header .jumbotron .container a i {
  color: #f1ecec;
  font-size: 3.5rem;
}

header .jumbotron .container a i:hover {
  color: #e03a3a;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.filler {
  background: -webkit-gradient(linear, left top, right top, from(#131313), color-stop(#303030), to(#131313));
  background: linear-gradient(to right, #131313, #303030, #131313);
  color: #f1ecec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40vh;
  margin: 0;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(10, 10, 10, 0.3);
          box-shadow: 3px 3px 20px 0px rgba(10, 10, 10, 0.3);
  text-shadow: 5px 5px 6px black;
}

.filler .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filler .container p {
  font-style: italic;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

.filler .container .blockquote-footer {
  color: #f1ececa8;
  font-size: 1.5rem;
}

#about {
  padding-top: 9vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(./images/section1bg.png) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/section1bg.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding-bottom: 9vh;
}

#about .container {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .container h4 {
  font-family: 'Quicksand';
  margin-top: 0.2rem;
  font-size: 3rem;
  text-align: center;
  text-shadow: 3px 3px 5px #1d1d1d;
}

#about .container h4 span {
  font-size: 1em;
  color: #e03a3a;
  text-transform: uppercase;
}

#about .container .underline {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 2px solid #e03a3a;
  width: 30%;
  margin-bottom: 3rem;
}

#about .container .about {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.5rem 0;
  -webkit-box-shadow: 10px 12px 16px -7px rgba(0, 0, 0, 0.68);
          box-shadow: 10px 12px 16px -7px rgba(0, 0, 0, 0.68);
}

#about .container .about .about-img1 {
  width: 50%;
  background: url(./images/ourteam-pexels.png) no-repeat;
  background-position: center;
  background-size: cover;
}

#about .container .about .about-img2 {
  width: 50%;
  background: url(./images/location-pexels.png) no-repeat;
  background-position: center;
  background-size: cover;
}

#about .container .about .about-img3 {
  width: 50%;
  background: url(./images/pricing-pexels.png) no-repeat;
  background-position: center;
  background-size: cover;
}

#about .container .about .about-text {
  width: 50%;
  text-shadow: 3px 3px 5px #302f2f;
  background-color: rgba(180, 168, 168, 0.466);
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#about .container .about .about-text h3 {
  letter-spacing: 2px;
  font-weight: bolder;
  color: #e03a3a;
  font-family: 'Roboto';
  border-bottom: thin double;
}

#about .container .about .about-text p {
  text-align: center;
  font-weight: 400;
}

#about .container .about .about-text .btn {
  margin-bottom: 10px;
  font-weight: 700;
  color: #ff3232;
  border-radius: 25px;
  padding: 0.4rem 0.6rem;
  border: 2px solid #e03a3a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#about .container .about .about-text .btn span {
  margin: 0 3px;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#about .container .about .about-text .btn:hover {
  background-color: #ff3232;
  padding: 0.4rem 0.6rem;
  border-radius: 25px;
  border: 2px solid #ff3232;
  color: #fffdfdf3;
  -webkit-box-shadow: 10px 12px 16px -7px rgba(0, 0, 0, 0.68);
          box-shadow: 10px 12px 16px -7px rgba(0, 0, 0, 0.68);
}

#about .container .about .about-text .btn:hover span {
  color: #fffdfdf3;
}

#pricing {
  padding-top: 9vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(./images/pricingbg-pexels.png) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/pricingbg-pexels.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

#pricing .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pricing .container .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

#pricing .container .price-container .price-card {
  position: relative;
  background-color: rgba(180, 168, 168, 0.5);
  -webkit-box-shadow: 0 0 10px #00000070;
          box-shadow: 0 0 10px #00000070;
  margin: 20px 20px;
  width: 100%;
  text-shadow: 3px 3px 5px #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  max-width: 320px;
  overflow: hidden;
}

#pricing .container .price-container .price-card .pop {
  width: 50%;
  background-color: #e03a3a;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  padding: 10px 40px;
  position: absolute;
  top: 5px;
  right: -40px;
}

#pricing .container .price-container .price-card .underline {
  margin-bottom: 0rem;
}

#pricing .container .price-container .price-card .plan-name {
  padding-top: 0.7rem;
}

#pricing .container .price-container .price-card .plan-name h1 {
  margin-bottom: 0;
  text-shadow: 3px 3px 5px #1d1d1d;
  font-size: 2rem;
}

#pricing .container .price-container .price-card .price p strong {
  font-size: 3rem;
}

#pricing .container .price-container .price-card .price p span {
  font-weight: 600;
  font-size: 1rem;
  display: block;
}

#pricing .container .price-container .price-card .description {
  margin-bottom: 1rem;
}

#pricing .container .price-container .price-card .description li {
  list-style: none;
}

#pricing .container .price-container .price-card a {
  font-weight: 700;
  color: #f1ecec;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid #e03a3a;
  border-radius: 1.5em;
  background-color: #e03a3a;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#pricing .container .price-container .price-card a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #ff3232;
  text-decoration: none;
}

#pricing .container .popular {
  background-color: rgba(187, 178, 178, 0.65) !important;
}
/*# sourceMappingURL=styles.css.map */