* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #323539;
  color: #f1ecec;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #323539;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(10, 10, 10, 0.3);
          box-shadow: 2px 2px 20px 0px rgba(10, 10, 10, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9vh;
}

nav .brand {
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 2px #d72323 solid;
  margin: 1em 0;
}

nav .brand a {
  text-decoration: none;
}

nav .brand h4 {
  font-family: 'Righteous';
  letter-spacing: 1px;
  padding: 0.2rem 0.3rem;
  font-size: 2.2rem;
  font-weight: bolder;
  color: #d72323;
  margin-bottom: 0;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  list-style: none;
}

nav .nav-links a {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f1ecec;
  text-decoration: none;
}

nav .nav-links a:hover {
  color: #fffdfdb7;
}

nav .nav-links #contactLink a {
  font-size: 1.3rem;
  color: #d72323;
  border-radius: 20px;
  padding: 0.4rem 0.6rem;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .nav-links #contactLink a:hover {
  padding: 0.4rem 0.6rem;
  border-radius: 20px;
  border: 2px solid #ff3232;
  color: #ff3232;
}

header {
  height: 91vh;
  overflow: hidden;
}

header .jumbotron {
  height: 92vh;
  background: url(./images/headerpic.png) no-repeat center;
  background-size: cover;
  padding: 0;
}

header .jumbotron .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  text-shadow: 3px 3px 5px black;
}

header .jumbotron .container span {
  color: #d72323;
  text-transform: uppercase;
}

header .jumbotron .container h1 {
  width: 60%;
  padding-left: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Righteous";
}

header .jumbotron .container p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  padding-left: 30px;
}

header .jumbotron .container a {
  text-decoration: none;
}

header .jumbotron .container a i {
  color: #f1ecec;
  font-size: 3.5rem;
}

header .jumbotron .container a i:hover {
  color: #d72323;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section {
  height: 91vh;
}
/*# sourceMappingURL=styles.css.map */