$colors: (primary: #000000,
  accent1: #d72323,
  accent2: #323539,
  textColor: #f1ecec,
  linkHover: #fffdfdb7,
  linkHover2: #ff3232);


@function color($color-name) {
  @return map-get($colors, $color-name)
}

;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
}

;


body {
  font-family: 'Montserrat', sans-serif;
  background-color: color(accent2);
  color: color(textColor);
}

nav {
  background-color: color(accent2);
  top: 0;
  position: sticky;
  box-shadow: 2px 2px 20px 0px rgba(10, 10, 10, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9vh;


  .brand {
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 2px color(accent1) solid;
    margin: 1em 0;

    a {
      text-decoration: none;

    }


    h4 {
      font-family: 'Space Mono';
      letter-spacing: 1.5px;
      padding: 0.2rem 0.3rem;
      font-size: 2.2rem;
      font-weight: bolder;
      color: color(accent1);
      margin-bottom: 0;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    margin-bottom: 0;
    list-style: none;

    a {
      font-family: 'Space Mono';
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2px;
      color: color(textColor);
      text-decoration: none;



      &:hover {
        color: color(linkHover);
      }

    }

    #contactLink {
      a {
        font-weight: bolder;
        font-size: 1.3rem;
        color: color(accent1);
        border-radius: 20px;
        padding: 0.4rem 0.6rem;
        border: 2px solid transparent;
        transition: all 0.5s ease-in-out;

        &:hover {
          padding: 0.4rem 0.6rem;
          border-radius: 20px;
          border: 2px solid color(linkHover2);
          color: color(linkHover2);
        }
      }
    }
  }
}



header {
  height: 91vh;
  overflow: hidden;





  .jumbotron {
    height: 92vh;
    background: url(./images/heropic.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;


    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      min-width: 100%;
      background-color: rgba(#000000, $alpha: 0.55);
      text-shadow: 3px 3px 5px black;

      span {
        font-family: 'Space Mono';
        font-size: 1em;
        color: color(accent1);
        text-transform: uppercase;
      }


      h1 {
        width: 60%;
        padding-left: 30px;
        align-self: flex-start;
        font-family: 'Righteous', ;


      }


      p {
        align-self: flex-start;
        text-align: center;
        padding-left: 30px;


      }


      a {
        text-decoration: none;

        i {
          color: color(textColor);
          font-size: 3.5rem;

          &:hover {
            color: color(accent1);
            transform: scale(1.5);
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}


section {
  background: linear-gradient(rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)), url(./images/section1bg.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 91vh;

  .container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      margin-top: 0.2rem;
      font-size: 3rem;
      text-align: center;
    }

    .underline {
      align-self: center;
      border-bottom: 2px solid color(accent1);
      width: 30%;
      margin-bottom: 3rem;
    }

    .about-1 {

      display: flex;


      img {
        height: 100%;
        width: 50%;
      }

    }

    .about-2 {}

    .about-3 {}

  }
}